@charset "utf-8";

body {background:#EEE; margin:0; padding:0;}
body, button, input, textarea {font-family:'맑은 고딕',MalgunGothic,'나눔 고딕','Nanum Gothic';}
a {text-decoration:none; color:black; cursor:pointer;}
a:hover {color:red;}
ul, li {margin:0; padding:0;}
img {border:none;}
label:focus, input:focus, button:focus, textarea:focus {outline:none;}

#tistorytoolbarid {display:none;}

.ellipsis {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
ol.no-style, ul.no-style {list-style:none;}

.flex {display:flex;}

.card, #sidebar .module {background:#FFF; margin:12px 0; padding:0; border-radius:2px; box-shadow:0 2px 3px rgba(0,0,0,0.2);}
.card-content {padding:32px;}
.card-content:not(:last-child) {border-bottom:1px solid #EEE;}

.card-border:not(:last-child) {border-bottom:1px solid #EEE;}

.card-list a {padding:24px 32px;}
.card-list .date {flex:1;}
.card-list .title {flex:4;}

.card .title:not(:last-child) {margin-bottom:24px;}
.card .title h2, .card .title h3 {margin:0; line-height:1.5;}
.card .title .info {color:#888; font-size:0.9em;}

.card .article {font-size:12px;}
.card .article:not(:last-child) {margin-bottom:24px;}

/* Mobile */
@media (max-width:768px) {
	.card-content {padding:24px;}
	.card-list a {padding:24px;}
	.card-list .flex {flex-direction:column-reverse;}
	.card-list .date {flex:1; font-size:0.8em;}
	.card-list .title {flex:2;}
}

/*********
 * Header
 *********/
#header {z-index:-30; background:rgb(160,160,160); width:100%;}
#header .link {width:100%; display:block; font-size:3.5em; color:white; text-align:center; line-height:150px;}

#nav {z-index:10; height:50px; width:100%; top:0; left:0; position:fixed;}
#nav:not(.transparent) {background:rgb(160,160,160); box-shadow:0 2px 5px 0 rgba(0,0,0,0.3);}
#nav.transparent:before {opacity:0;}

#nav .fa {position:absolute; width:50px; line-height:50px; font-size:1.5em; color:white;}

#nav .icon {line-height:50px; text-align:center; cursor:pointer;}
#nav .icon .fa {top:0; left:0; transition:all 0.3s linear;}
#nav .menu.active .fa {transform:rotate(45deg);}
.menu.active .fa-bars, .menu .fa-plus {opacity:0;}
.menu.active .fa-plus, .menu .fa-bars {opacity:1;}
#nav .menu ul {position:absolute; top:0; left:0; opacity:0; display:none; transition:all 0.2s linear, opacity 0.2s linear;}
#nav .menu ul a {color:#FFF;}

/* PC */
@media (min-width:768px) {
#nav .menu ul li {line-height:50px; float:left;}
#nav .menu ul a {display:inline-block; padding:0 10px; font-size:1.1em;}
#nav .menu ul a:hover {background:#888}
#nav .menu.show ul {display:inline-block;}
#nav .menu.active ul {transform:translateX(50px); opacity:1;}
}

/* Mobile */
@media (max-width:767px) {
#nav .menu ul {z-index:-31; background:rgba(128,128,128,0.75); width:100%; padding-top:50px; transform:translateY(-50px);}
#nav .menu ul:after {content:""; display:block; clear:both;}
#nav .menu ul a {width:100%; display:block; padding:12px 15px;}
#nav .menu ul a:hover {background:#444;}

#nav .menu.show ul {display:block;}
#nav .menu.active ul {transform:translateY(0); opacity:1;}
}

/*********
 * Container
 *********/
#wrap {z-index:-10; width:100%; padding:0;}
#wrap:after {content:""; display:block; clear:both;}
#container {float:left; margin:0 12px;}
#sidebar {float:right; margin:0 12px; width:240px;}

/* PC */
@media (min-width:1216px) {
#wrap {width:1192px; margin:0 auto;}
#container {width:940px; margin:0 12px 0 0;}
#sidebar {margin:0;}
}

@media (min-width:1024px) and (max-width:1215px) {
#container {width:calc(100% - 276px); margin:0 12px;}
#sidebar {margin:0 12px 0 0;}
}

/* Mobile */
@media (max-width:1023px) {
#container {width:calc(100% - 12px); margin:0 6px;}
#sidebar {display:none;}
}

#entry {position:relative;}

#search {position:relative;}
#search .input, #search .button {background:none; border:none; font-size:16px; line-height:20px;}
#search .input {padding:16px 50px 16px 24px; width:100%; box-sizing:border-box;}
#search .button {position:absolute; top:0; right:0; padding:16px; cursor:pointer;}

.admin .fa-bars {position:absolute; right:24px; top:24px; padding:10px; box-sizing:border-box; font-size:1.5em; cursor:pointer;}
.admin .a_list {background:white; display:none; position:absolute; top:70px; right:24px; width:200px; border:1px solid gray;}
.admin .a_list.active {display:block;}
.admin .a_list:before {content:""; background:white; position:absolute; right:14px; top:-6px; width:10px; height:10px; border-top:1px solid gray; border-left:1px solid gray; transform:rotate(45deg);}
.admin .a_l_btn {display:block; padding:5px;}
.admin .a_l_btn .fa {padding:5px; width:20px; text-align:center;}

.search-ul {margin:0;}
.search-li:hover {background:#BBB; color:#FFFFFF}
.search-li a {display:block; padding:16px 24px; color:#444;}
.search-li a:hover {color:white;}
.search-li p, .search-li span {margin:0;}
.search-li .date {display:block; font-size:14px; color:#888}
.search-li:hover .date {color:rgba(255,255,255,0.75);}

#tag .tag-ul {margin:0; font-size:14px;}
#tag .tag-li {width:31%; display:inline-block; padding-bottom:10px;}
#tag .cloud5 {font-size:1em;}
#tag .cloud4 {font-size:1.2em;}
#tag .cloud3 {font-size:1.4em;}
#tag .cloud2 {font-size:1.6em;}
#tag .cloud1 {font-size:1.8em;}


/* Commend / GustBook */
.comment .write:after {content:""; display:block; clear:both;}

.comment .textarea, .comment .input {background:none; box-sizing:border-box; font-size:0.8em; line-height:1.5;}
.comment .write .textarea {background:#EEE; width:100%; height:120px; padding:10px; border:none; border-radius:4px; resize:none;}
.comment .write .input {margin-bottom:12px; padding:0 12px 10px; width:50%; border:none; border-bottom:1px solid #DDD;}
.comment .write .btn {width:100%; margin:5px 0; text-align:right;}

.comment .write .btn .fa {background:none; margin:0 5px; padding:5px; border:none; font-size:1.5em; text-align:center; color:#444; cursor:pointer;}
.comment .write .btn .fa:hover {color:#888;}
.comment .write .btn .fa:active {color:black;}
#secret + .fa:before {content:'\f09c';}
#secret:checked + .fa:before {content:'\f023'; color:red;}
@media (max-width:758px) {
.comment .write .input {width:100%;}
}
.comment .list p {margin:0; padding:0;}
.comment .list .li {position:relative; padding:24px 24px 24px 96px; min-height:55px;}
.comment .list .li.reply {background:#F4F4F4;}
.comment .list .li:after {content:""; display:block; clear:both;}
.comment .list .tistoryProfileLayerTrigger {display:none;}
.comment .list .name, .comment .list .name a {color:#444444;}
.comment .list .name img, .comment .list .name .fa {position:absolute; width:64px; height:64px; margin-left:-82px; border-radius:50%; overflow:hidden;}
.comment .list .name .fa {color:#DDD; font-size:64px; text-align:center;}
.comment .list .name .fa:before {content:'\f007';/*fa-user*/}
.rp_secret .name .fa:before, .guest_secret .name .fa:before {content:'\f21b';/*fa-user-secret*/}
.rp_admin .name .fa:before, .guest_admin .name .fa:before {content:'\f085';/*fa-cogs*/}
.comment .list .date {font-size:0.8em; color:#BBB;}
.comment .list .desc {margin:15px 0; padding:0; line-height:1.5em; font-size:0.8em;}
.comment .list .control {font-size:0.8em; line-height:1.5;}
.comment .list .control a {color:#666; padding-right:10px;}
.comment .list .control a:hover {color:#222;}

#entry_protected p {margin:12px 0; font-size:1.25em; text-align:center;}
#entry_protected input, #entry_protected button {background:none; border:none; border-bottom:1px solid #DDD; padding:10px;}
#entry_protected input {width:260px;}
#entry_protected button {color:#999; cursor:pointer;}
#entry_protected button:hover {color:#BBB;}
#entry_protected button:active {color:#666;}

#entry .tags .fa {margin-right:8px;}
#entry h3 a {display:block;}

#page {position:relative; text-align:center;}
#page .btn {display:inline-block; padding:12px; font-size:16px; vertical-align:middle;}
#page .btn.selected {color:gray;}
#page .btn:not(.selected):hover {background:#DDD; color:white;}
#page .prev, #page .next {position:absolute;}
#page .prev {left:0;}
#page .next {right:0;}
#page .prev.no-more-prev, #page .next.no-more-next {display:none;}

#footer {margin-bottom:12px; text-align:center; line-height:1.5; font-size:0.9em;}
#footer p {margin:8px 0;}
#footer .visitor {padding:12px;}
#footer .visitor .day {color:rgb(128,128,128); font-size:0.8em;}
#footer .info {margin-top:20px;}

/* Sidebar */

#sidebar .module {background:#FFFFFF;}
#sidebar .module h3 {margin:0; padding:12px; border-bottom:1px solid #DDD; font-size:1.2em; font-weight:normal;}

#sidebar .name_card {padding:10px;}
#sidebar .name_card:after {content:""; display:block; clear:both;}
#sidebar .name_card img {margin-right:15px; width:64px; border-radius:50%; float:left;}
#sidebar .name_card p {margin:7px 0;}
#sidebar .name_card .auther {font-size:1.2em;}
#sidebar .name_card .contact {font-size:0.8em;}
#sidebar .name_card .contact a {color:#AAA;}

#sidebar .link a {background:none; display:block; margin:0; padding:10px; font-size:1.3em; text-align:center;}
#sidebar .link a:hover {color:white !important;}
#sidebar .link .fa {margin-right:10px;}

#sidebar .list {margin-bottom:10px;}
#sidebar .list a {display:block; padding:12px; font-size:0.8em;}
#sidebar .list a:hover {background:#DDD; color:#FFF;}
#sidebar .list > ul > li > ul > li > ul a {padding-left:25px;}
#sidebar .list span {font-size:0.75em; color:#888}
#sidebar .list a:hover span {color:#FFF;}
#sidebar .list p {margin:0;}

#sidebar .calendar .tt-calendar {padding:12px;}
#sidebar .calendar .cal_month {display:none;}
#sidebar .calendar thead, #sidebar .calendar tbody {text-align:center;}
#sidebar .calendar thead {font-size:14px; line-height:1.5;}
#sidebar .calendar tbody {font-size:12px; line-height:2;}
#sidebar .calendar a {font-weight:bold;}
#sidebar .calendar td:first-child {color:#F44;}

/*********
 * Bottom button
 *********/
#bot-btn {z-index:100; position:fixed; bottom:0; right:0; box-shadow:0 2px 5px 0 rgba(0,0,0,0.3); transition:all 0.2s ease-in-out; transform:translateY(0); font-size:2em; cursor:pointer;}
#bot-btn.hidden {transform:translateY(200px);}
#bot-btn .fa {color:white; padding:10px; background:rgb(192,192,192); transition:all 0.2s ease-in-out}
#bot-btn .fa:hover {background:rgb(128,128,128);}
#bot-btn .fa.hidden {display:none;}


/*********
 * article
 *********/
article h1, article h2, article h3, article h4, article h5 {margin:0.75em 0;}
article h1, article h2 {margin:0.8em 0; padding-bottom:0.5em; border-bottom:1px solid #DDD;}
article h1 {font-size:2em;}
article h2 {font-size:1.5em;}
article h3 {font-size:1.2em;}
article h4 {font-size:1em;}
article h5 {font-size:0.8em;}

article p {line-height:1.5;}

article ol, article ul {margin:0.5em 0; padding-left:1.25em;}
article ul {line-height:1.5; list-style:disc;}
article ol {list-style:decimal;}
article li ul {list-style:circle;}

article img {max-width:100%;}

/* Download Button */
article .imageblock img[src*='.gif'] {display:none;}
article .imageblock > a {background:rgba(0,0,0,0.1); display:inline-block; position:relative; height:50px; line-height:50px; padding:0 15px; padding-left:65px; font-weight:bold; transition:all 0.15s linear;}
article .imageblock > a:hover {background:rgba(0,0,0,0.3); color:white;}
article .imageblock > a:before {font:normal normal normal 2em/50px FontAwesome; content:'\f019'; background:rgba(0,0,0,0.5); position:absolute; top:0; left:0; width:50px; height:50px; line-height:50px; text-align:center; color:white;}