@charset "UTF-8";
/* reset */
body,div,dl,dt,dd,pre,code,form,fieldset,legend,p{margin:0;padding:0}
fieldset,img{border:0 none}
button {border:0 none;background-color:transparent;cursor:pointer}
html,body {font-size:16px; line-height:1.8; font-weight:400; font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif;}
a {color:inherit;text-decoration:none;cursor:pointer;}
a:not(.no_deco):active, a:not(.no_deco):hover {text-decoration:underline}
address,caption,cite,code,dfn,em,var {font-weight:normal}

tt, code, kbd, samp {font-family:Consolas,"Liberation Mono",Menlo,Courier,monospace;}

h1, h2, h3, h4, h5, h6 {font-weight:normal;}
h1, h2, h3 {margin:18px 0 16px;}
h4, h5, h6 {margin:16px 0;}
h1 {font-size:36px;}
h2 {font-size:28px;}
h3 {font-size:24px;}
h4 {font-size:18px;}
h5 {font-size:16px;}
h6 {font-size:14px;}

ul, ol {margin:16px 0; padding-left:24px;}
ul ul, ul ol, ol ul, ol ol {margin:8px 0;}

blockquote {background:#f0f2f6; margin:12px 24px; padding:16px;}
pre {background:#f0f2f6; margin:12px 0; padding:16px; font-size: 0.9em;}
code,kbd {background:#f0f2f6; border-radius:4px; margin:0 4px; padding:4px 4px; font-size:0.8em;}

table {margin:16px 0; border-spacing:0;}
th {background:#eee;}
th,td {padding:4px 12px; font-size:0.9em; line-height:1.5;}

input,textarea,select,button {margin:4px; line-height:1.5; font-family:inherit; font-size:0.9rem; vertical-align:middle;}
/* global */
.show {display:block}
.hide {display:none}

.clear_both:after {content:''; display:block; clear:both;}
.f_left {float:left;}
.f_right {float:right;}
.v_hr {display:inline-block; margin:0 8px; border-right:1px solid rgba(0,0,0,0.5); height:24px; vertical-align:middle;}
.small .v_hr.br {display:block; margin:0; border:none; width:100%; height:0;}

.wide {font-size:14pt;}

.card {background:white; border-radius:8px; overflow:hidden; box-shadow:0 1px 2px rgba(0,0,0,0.3);}
.small .card {border-radius:0;}

.normal .s_body {margin:0 auto; width:calc(100% - 48px);}
.wide .s_body {width:1252px;}

.s_size {box-sizing:border-box;}
.s_size:last-child {margin:16px 0;}
.s_size + .s_size {margin-top:16px;}

/* Loading */
.loader-bg {z-index:200; background:#F57F17; position:fixed; width:100%; height:100%; top:0; left:0;}
.loader-wrap {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
.loader{border:64px solid #f3f3f3; border-radius:50%; animation:spin .5s linear infinite;}
.loader-bg.done {animation:spin-done .8s linear forwards;}

@keyframes spin {
    0% {transform:scale(0); opacity:1;}
    100% {transform:scale(1); opacity:0;}
}

@keyframes spin-done {
    0% {opacity:1;}
    99% {opacity:0; transform: scale(1);}
    100% {opacity:0; transform:scale(0);}
}

/* Theme */
.bg-gray {background:#F1F3F4;}
.bg-white {background:white;}

.f_bcolor {color:rgba(0,0,0,0.87);}
.f_sec_bcolor {color:rgba(0,0,0,0.54);}
.f_dis_bcolor {color:rgba(0,0,0,0.38);}

.f-wcolor {color:white;}
.f-sec-wcolor {color:rgba(255,255,255,0.70);}
.f-dis-wcolor {color:rgba(255,255,255,0.50);}

html, body{height:100%;min-height:100%}


.s_head {position:relative; padding-top:42.85%; width:100%; height:0;}
.s_bg {background:url(images/3.jpg); background-attachment:fixed; background-repeat:no-repeat; background-size:cover; background-position:center;}
.s_bg:before {content:''; background:linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.2), #F1F3F4); position:absolute; top:0; bottom:0; display:block; width:100%;}

.head_wrap {position:absolute; bottom:50%; width:100%; transform:translateY(50%); text-align:center;}

.s_title {font-size:2rem; font-weight:600;}
.s_input {background:transparent; display:none; border:none; border-bottom:1px solid #F1F3F4; padding:8px; width:320px; font-size:2rem; text-align:center; color:inherit;}
.s_input::placeholder {color:white;}
.s_input::-ms-input-placeholder {color:white;}
.func_search .s_input {display:inline-block;}
.func_search .s_title {display:none;}

.s_cover {background:rgba(0,0,0,0.5); display:none; position:fixed; top:0; left:0; width:100%; height:100%;}
.func_menu .s_cover {display:block;}
.s_cover .card {position:absolute; top:50%; left:50%; width:320px; max-height:calc(100% - 32px); transform:translate(-50%, -50%);}
.s_cat {overflow:auto;}
.s_cat a {display:block; padding:16px;}
.s_cat a:hover {background:#F1F3F4; text-decoration:none;}
.sub_category_list a {padding-left:32px;}
.s_btn_block {text-align:right;}
.s_btn {display:inline-block; border-radius:8px; margin:16px; padding:8px 16px; overflow:hidden; box-sizing:border-box; transition:background 0.2s, box-shadow 0.2s; line-height:1.2; vertical-align:middle; font-size:1rem; cursor:pointer;}
.s_btn:hover {box-shadow:0 4px 8px rgba(0,0,0,0.3);}
.s_btn.close:hover {background:#bf360c; text-decoration:none; color:white;}

.own_info {padding:16px;}
.profile {margin-right:16px; border-radius:50%; width:64px; height:64px; vertical-align:middle;}
.blog_info {display:inline-block; vertical-align:middle; line-height:1.5;}
.blog_info .title {font-size:1.2rem; font-weight:600;}
.blog_info .owner {font-size:0.8rem;}
.blog_link {line-height:64px;}
.blog_link img {width:24px; height:24px;}
.blog_link a {display:inline-block; padding:8px; height:24px; line-height:1; vertical-align:middle;}

.normal .blog_link {float:right;}
.small .blog_link {margin-top:32px; text-align:center;}

.l_post {padding:16px; font-size:0.9rem;}
.l_thumb {display:inline-block; margin-right:16px; border-radius:50%; width:150px; height:150px; overflow:hidden; vertical-align:middle;}
.l_thumb img {width:150px; height:auto;}
.small .l_thumb {width:128px; height:128px;}
.small .l_thumb img {width:128px;}
.l_thumb + .l_wrap {display: inline-block; width: calc(100% - 172px); vertical-align: middle;}
.small .l_thumb + .l_wrap {width:calc(100% - 148px);}
.l_title {font-size:1.2rem;}
.l_summary {margin:8px 0; max-height:75px; line-height:25px; overflow:hidden;}
.post_title {font-size:1.2rem; padding:16px 16px 0;}
.post_summary {font-size:0.8rem;}
.post_info {font-size:0.8rem; padding:0 16px;}
.post_cat {color:#F57F17;}

.admin_edit, .admin_secret, .admin_delete {color:#bf360c;}

h2.post_title {font-size:1.6rem;}
.post {padding:16px;}
.protected {text-align:center;}
.s_pwd {border:none; border-bottom:1px solid #EEE; margin:8px 0; padding:8px; font-size:1.2rem; text-align:center;}

.post_etc {padding:0 16px;}
.post_tag a {color:#F57F17;}
.post_reply:not(.guest) {margin-top:16px;}
.l_reply {position:relative; padding:12px 16px 12px 92px; min-height:64px; line-height:1.5;}
.l_reply:first-child {border-top:1px solid #EEE;}
.rep_reply {background:#EEE}
.reply {margin:8px 0;}
.reply_ico {background:rgba(0,0,0,0.1); width:64px; height:64px;}
.reply_name img, .reply_ico {position:absolute; top:12px; left:15px; border-radius:50%;}
.reply_name {font-weight:bold;}
.reply_admin {font-size:0.8rem;}
.reply_admin a {color:#bf360c;}

.rw_wrap {border-top:1px solid #EEE;}
.rw_wrap:after {content:''; display:block; clear:both;}
.rw_wrap input, .rw_wrap textarea {border:none; resize:none; font-size:0.9rem; border-bottom:1px solid #EEE;}

.rw_reply {margin:0; padding:16px; width:100%; box-sizing:border-box;}
.rw_option {text-align:right;}
.rw_info {display:inline-block;}
.small .rw_info {display:block;}
.rw_info input {margin:8px; padding:8px;}
.rw_secret:checked + .rw_sec_lab {background:#BDC1C6; box-shadow:0 1px 2px rgba(0,0,0,0.3); color:white;}
.rw_secret:checked + .rw_sec_lab:hover {background:#5F6368; box-shadow:0 4px 8px rgba(0,0,0,0.3);}
.rw_sec_lab:hover {background:#F1F3F4;}
.rw_submit {background:#F57F17; margin-left:0; box-shadow:0 1px 2px rgba(0,0,0,0.3);}
.rw_submit:hover {background:#bc5100; color:white;}

.imageblock img {max-width:100%; height:auto;}

.s_tag {padding:16px; text-align:center;}
.t_link {display:inline-block; margin:4px;}
.t_link:not(:last-child):after {content:','}
.t_link.cloud1, .t_link.cloud2 {color:#bf360c;}
.t_link.cloud3, .t_link.cloud4 {color:#F57F17;}

.s_paging {padding:0 16px; width:100%; font-size:1.4rem;}
.p_btn {color:#F57F17;}
.no-more-prev,
.no-more-next {color:rgba(0,0,0,0.38); cursor:default;}

.s_footer {text-align:center;}

/* article */
article a {color:#F57F17;}

article .imageblock {margin:8px 0;}
.tt_adsense_top, .tt_adsense_bottom {text-align:center;}
