@charset "utf-8";

/* Material */
/*
 * Default font colors
 * Primary Text - #000 87%
 * Secondary Text - #000 54%
 * Disabled Text - #000 38%
 */
html, body, label, button, input, textarea, blockquote, pre, code {
	color:rgba(0,0,0,0.87);
	-webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
	font-family:Roboto,RobotoDraft,arial,'Noto Sans KR','Nanum Gothic',sans-serif;
}

h1, h2, h3, h4, h5, h6 {margin:0; font-weight:normal;}
h1 {margin:36px 0 12px 0; font-size:42px;}
h2 {margin:36px 0 12px 0;font-size:36px;}
h3 {margin:24px 0 12px 0;font-size:28px;}
h4, h5, h6 {margin:24px 0 12px 0; font-size:16px;}

a {color:#03A9F4; text-decoration:none;}
p {margin:0 0 12px 0; line-height:1.7;}

ol, ul {padding-left:32px;}
li {line-height:1.5;}

hr {border:0; border-top:1px solid rgba(0,0,0,0.12);}

fieldset {margin:0; padding:0; border:0;}

table {border-spacing:0;}
th, td {padding:6px 12px;}
th {background:#EEE;}

blockquote, pre, code {background:#F5F5F5; margin:0 0 16px; padding:16px;}

.card {background:#FFF; border-radius:2px; box-shadow:0 1px 2px rgba(0,0,0,0.3);}
.material-icons {vertical-align:middle;}
/* Skin */

body {background:#EEE; margin:0; padding:0;}
a {text-decoration:none; cursor:pointer;}
em {font-style:normal; font-weight:normal;}
ul, li {margin:0; padding:0;}
img {border:none;}
label:focus, input:focus, button:focus, textarea:focus {outline:none;}

/* Tistory */
#tistorytoolbarid {display:none;}

.scroll-hidden {overflow:hidden;}
.ellipsis {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
ol.no-style, ul.no-style {list-style:none;}

/* animate */
.anim-transform {transition:transform 200ms linear;}
.anim-opacity {transition:opacity 200ms linear;}

/* Flex */
.flex {display:-webkit-flex; display:flex; -webkit-flex-flow:row; flex-flow:row;}
.flex.vertical {flex-direction:column;}
.flex-1 {-webkit-flex:1; -ms-flex:1; -moz-flex:1; flex:1;}

/* Card */
.card {
	background:#FFF; margin:12px 0; padding:0; border-radius:2px;
	box-shadow:0 1px 2px rgba(0,0,0,0.3); overflow:hidden;
}

.card-list {padding:8px 0;}
.card-list a {padding:18px 32px; line-height:20px; transition:background 50ms linear;}
.card-list a:hover {background:#F5F5F5;}
.card-list .date {width:120px;}
.card-list .none {display:block; padding:32px; color:#F44; line-height:2.5; text-align:center;}
.card-list .none .icon {font-size:48px;}

.card-title {padding:24px;}
.card-title.hr {border-bottom:1px solid #DADADA}
.card-title h2, .card-title h3 {margin:0; line-height:1.5;}
.card-title .info {font-size:14px; color:#727272;}

#cover {
	z-index:50; background:rgba(0,0,0,0.25);
	position:fixed; top:0; bottom:0; left:0; right:0;
	transition:opacity 200ms linear; opacity:0; visibility:hidden;
}
#cover .card.floating {
	position:fixed; top:50%; left:50%;
	box-shadow:0 12px 24px rgba(0,0,0,0.3);
	transition:transform 200ms linear;
	-webkit-transform:translate(-50%, -50%) scale(0.5);
	transform:translate(-50%, -50%) scale(0.5);
}

#cover.animate {visibility:visible; opacity:1;}
#cover.animate.f .card.floating {
	-webkit-transform:translate(-50%, -50%) scale(1);
	transform:translate(-50%, -50%) scale(1);
}
.floating-data {display:none;}

/* Header */
#header {z-index:-30; width:100%;}
#header .link {width:100%; display:block; font-size:48px; color:white; text-align:center; line-height:150px;}

#nav {z-index:100; height:50px; width:100%; top:0; left:0; position:fixed; overflow:hidden; box-shadow:0 2px 4px 0 rgba(0,0,0,0.3);}
#nav.transparent {background:transparent; box-shadow:none;}

#nav .menu {position:absolute; top:0; left:0; width:50px; line-height:50px; text-align:center; color:white; cursor:pointer;}

#nav .title {
	display:block; margin:0 24px 0 64px; line-height:50px; font-size:24px;
	-webkit-transform:translateY(0);
	transform:translateY(0);
}
#nav.transparent .title {
	-webkit-transform:translateY(-100%);
	transform:translateY(-100%);
}
#nav .title .link {color:white;}

/* Side menu drawer */
#side {z-index:150; background:white; position:fixed; top:0; left:0; width:280px; height:100%;
	overflow:hidden;
	-webkit-transform:translateX(-100%);
	transform:translateX(-100%);
}
#side.animate {
	-webkit-transform:translateX(0);
	transform:translateX(0);
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.3);
}

#side hr {margin:0; border:none; border-bottom:1px solid #DADADA;}
#side .menu {overflow:auto;}
#side .item {display:block; margin:0; padding:0 16px; line-height:48px; font-size:14px;}
#side .item.accent {padding-left:12px; border-left:4px solid;}
#side .item:hover {background:#F5F5F5;}
#side .item.subitem {padding:0 8px; padding-left:32px; line-height:36px; color:#727272; font-size:12px;}
#side .item.subitem.accent {padding-left:28px;}

#side .title {background:#F5F5F5; line-height:50px; color:#727272; font-size:20px;}

.search .input, .search .button {background:none; margin:0; padding:0; border:none; line-height:48px;}
.search .input {font-size:16px; padding:0 0 0 16px;}
.search .button {width:48px; text-align:center; cursor:pointer;}
.search .button:hover {background:#F5F5F5;}

/* Wrap */
.content {z-index:-10; margin:0 auto; padding:0; width:940px;}
.content:after {content:""; display:block; clear:both;}

#entry {position:relative;}

.admin.icon {width:64px; line-height:64px; text-align:center; cursor:pointer;}

.admin_list {margin:8px 0;}
.admin_list .admin_item {position:relative; display:block; padding-left:72px; width:180px; line-height:48px; transition:background 50ms linear; font-size:15px;}
.admin_list .admin_item:hover {background:#F5F5F5;}
.admin_list .admin_item .icon {position:absolute; top:0; left:0; padding:12px 16px; color:#727272;}

/* Tags */
#tag .tags {
	margin:0 0 16px;
	padding:0 24px;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	-webkit-align-items:baseline;
	align-items:baseline;
	line-height:1.75;
}
#tag .tags .item {margin-right:18px; color:#212121;}
#tag .tags .item:hover {color:#727272;}
#tag .tags .item:before {content:'#'; margin-right:3px;}
#tag .cloud1 {font-weight:bold;}

/* Comment */
.comment .write {padding:0 24px 24px;}

.comment .textarea, .comment .input {background:none; box-sizing:border-box; font-size:14px; line-height:1.5;}
.comment .write .textarea {
	background:#F5F5F5; width:100%; height:120px; padding:16px;
	border:none; resize:none;
}
.comment .write .input {margin-bottom:12px; padding:0 12px 10px; width:50%; border:none; border-bottom:1px solid #DDD;}
.comment .write .btn {width:100%; text-align:right;}
.comment .write .btn .icon {margin:0 8px; padding:16px; width:24px; line-height:24px; color:#727272; cursor:pointer;}

.comment .list p {margin:0; padding:0;}
.comment .list .li {position:relative; padding:18px 24px 18px 100px; min-height:55px;}
.comment .list .li.reply {background:#F5F5F5;}
.comment .list .name {font-size:18px; margin-right:8px;}
.comment .list .name .tistoryProfileLayerTrigger {display:none;}
.comment .list .name img,
.comment .list .name .icon {
	position:absolute; top:18px; left:18px; border-radius:50%;
	width:64px; height:64px; overflow:hidden;
	color:#DDD; font-size:64px; text-align:center;
}
.comment .list .name .icon:before {content:'person';}
.comment .rp_secret .name .icon:before,
.comment .guest_secret .name .icon:before {content:'person_outline';}
.comment .rp_admin .name .icon:before {content:'settings';}
.comment .list .date {font-size:14px;}
.comment .list .desc {margin:8px 0; padding:0; line-height:1.5; font-size:14px;}
.comment .list .control {font-size:14px; line-height:1.5;}
.comment .list .control a {padding-right:10px;}
.comment .list .control .icons {font-size:14px;}

/* Protected Entry */
#entry_protected .article {text-align:center;}
#entry_protected p {margin:12px 0; font-size:18px;}
#entry_protected input {background:none; border:none; border-bottom:1px solid #DDD; padding:12px; width:260px; font-size:20px}
#entry_protected .icon.enter {position:absolute; border-bottom:1px solid #DDD; padding:12px; color:#727272; cursor:pointer;}
#entry_protected .icon.enter:hover {color:#212121;}

/* Entry */
#entry .tags {padding:0 24px;}
#entry .tags .icon {margin-right:8px; vertical-align:middle;}
#entry .tags a:before {content:'#';}
#entry h3 a {display:block;}

/* Page */
#page {position:relative; text-align:center;}
#page .btn {display:inline-block; padding:12px; width:24px; height:24px; line-height:24px;font-size:16px; vertical-align:middle;}
#page .btn.selected {font-weight:bold;}
#page .btn:not(.selected):hover {background:#F5F5F5;}
#page .no-more-prev, #page .no-more-next {visibility:hidden;}

#visitor {padding:12px; font-size:14px; line-height:1.5; text-align:center;}
#visitor p {margin:0;}
#visitor .total {color:#212121;}
#visitor .day {color:#727272;}

/* Footer */
#footer {margin:18px; text-align:center; font-size:14px;}
#footer p {margin:0; line-height:2;}

/* Bottom Button */
#bot-btn {
	z-index:40; position:fixed; bottom:32px; right:32px;
	-webkit-transform:scale(1);
	transform:scale(1);
	font-size:36px; cursor:pointer;
}
#bot-btn .icon {color:white; border-radius:50%; padding:16px; box-shadow:0 0 6px rgba(0,0,0,0.3); transition:box-shadow 200ms linear;}
#bot-btn .icon:hover:not(:active) {box-shadow:0 0 24px rgba(0,0,0,0.3);}
#bot-btn.hidden {
	-webkit-transform:scale(0);
	transform:scale(0);
}
#bot-btn.hidden .icon {box-shadow:none;}

/* Article */
.article {padding:0 24px 24px; font-size:14px; line-height:1.8; word-wrap:break-word;}

.article h1, .article h2, .article h3, .article h4, .article h5 {margin:0.75em 0;}
.article h1, .article h2 {margin:0.8em 0; padding-bottom:0.5em; border-bottom:1px solid #DDD;}
.article h1 {font-size:2em;}
.article h2 {font-size:1.5em;}
.article h3 {font-size:1.2em;}
.article h4 {font-size:1em;}
.article h5 {font-size:0.8em;}

.article ol, .article ul {margin:0.5em 0; padding-left:1.25em;}
.article ul {list-style:disc;}
.article ol {list-style:decimal;}
.article li ul {list-style:circle;}

.article img {max-width:100%; height:auto;}
.article blockquote {background:#F5F5F5; margin:0; padding:1em 25px;}
.article a {font-weight:bold;}

/* Download Button */
.article .imageblock > a img[src*='.gif'] {display:none;}
.article .imageblock > a {
	display:inline-block; border-radius:2px; padding:0 15px 0 0;
	height:50px; line-height:50px; box-shadow:0 0 4px rgba(0,0,0,0.3);
	transition:box-shadow 150ms linear; font-weight:bold;
}
.article .imageblock > a:before {
	font:normal normal normal 24px/50px 'Material Icons';
	content:'file_download'; background:rgba(0,0,0,0.2);
	display:inline-block;	margin-right:8px; width:50px; height:50px;
	text-align:center; color:white; word-wrap:normal; vertical-align:middle;
}
.article .imageblock > a:hover:not(:active) {box-shadow:0 0 8px rgba(0,0,0,0.5);}

/* Another Category Plugin */
.another_category {margin:16px 0 0; padding:0; border:none;}
.another_category h4 {margin:0 !important; padding:8px !important; font-size:16px !important; font-weight:normal;}
.another_category table {margin:0 !important; padding:8px; border-collapse:inherit;}
.another_category th,
.another_category td {padding:0 !important; font-size:14px !important; line-height:1.8;}

.video_container {margin:0; padding-bottom:75%; max-width:100%; height:0; position:relative; overflow:hidden;}
.video_container.wide {padding-bottom:56.25%;}
.video_container iframe,
.video_container embed,
.video_container object {position:absolute; top:0; left:0; width:100%; height:100%;}

/* Mobile */
@media screen and (max-width:952px) {
	h1 {font-size:1.75em;}
	h2 {font-size:1.4em;}
	h3 {font-size:1.2em;}

	#wrap {margin:0; width:100%;}

	.card {margin:0; border:none; border-bottom:1px solid #DDD; box-shadow:none;}
	.card-content {padding:18px;}
	.card-title {padding:18px;}
	.card-list a {padding:16px 18px;}
	.card-list .flex {flex-direction:column-reverse;}
	.card-list .date {flex:1; line-height:16px; font-size:12px;}
	.card-list .title {flex:2; line-height:24px;}
	.card-list .none {padding:18px;}

	#entry .tags {padding:0 18px;}

	.article {padding:0 18px 18px;}

	.comment .write {padding:0 18px 18px;}
	.comment .write .input {width:100%;}
}

/*
 * Theme Blue
 *
 * Primary - Blue #2196F3
 * Dark Primary - #1976D2
 * Light Primary - #BBDEFB
 * Text - #FFF
 * Accent - #03A9F4
 * Primary Text - #212121
 * Secondary Text - #727272
 */

body, button, input, textarea {color:#212121;}
a {color:#212121;}

em, .accent {color:#03A9F4;}

.card .title .info {color:#727272;}
@media (max-width:768px) {
	.card-list .date {color:#727272;}
}

#header, #nav {background:#2196F3;}
#side a:hover {color:#03A9F4;}

.comment .write .btn .icon {color:#727272;}
.comment .write .btn .icon:hover {color:#212121;}
#secret:checked + .icon.secret:before {color:#03A9F4;}

.comment .list .date,
.comment .list .desc,
.comment .list .control a {color:#727272;}
.comment .list .control a:hover {color:#212121;}

#page .btn.selected {color:#03A9F4;}

#footer {color:#727272;}

#bot-btn .icon {background:#03A9F4;}

article a {color:#03A9F4;}
article .imageblock > a {background:#03A9F4; color:#FFF;}
