@charset "UTF-8";
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle;outline:none}
input::-ms-clear {display:none}
button {border:0 none;background-color:transparent;cursor:pointer}
body,th,td,input,select,textarea,button {font-size:16px;font-family:'Nanum Gothic', 'Roboto', 'Arial';color:#666}
a {color:inherit;text-decoration:none;cursor:pointer;}
a:active, a:hover {text-decoration:underline}
a:active {background-color:transparent}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
input:checked[type='checkbox']{background-color:#666; -webkit-appearance:checkbox}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'],input[type='tel'],input[type='email'],html input[type='button'],input[type='reset']{-webkit-appearance:none;border-radius:0}
input[type='search']::-webkit-search-cancel-button,textarea{-webkit-appearance:none}

/* global */
.show {display:block}
.hide {display:none}

.clear_both:after {content:''; display:block; clear:both;}
.f_left {float:left;}
.f_right {float:right;}

.small {font-size:14px;}
.normal {font-size:16px;}
.wide {font-size:18px;}

.card {background:white; border-radius:8px; overflow:hidden; box-shadow:0 1px 2px rgba(0,0,0,0.3)}
.small .card {border-radius:0;}

.normal .s_body {margin:0 auto; width:calc(100% - 48px);}
.wide .s_body {width:1252px;}

.s_size {box-sizing:border-box;}
.s_size:last-child {margin:16px 0;}
.s_size + .s_size {margin-top:16px;}

/* Theme */
.bg-gray {background:#F1F3F4;}
.bg-white {background:white;}

.f_bcolor {color:rgba(0,0,0,0.87);}
.f_sec_bcolor {color:rgba(0,0,0,0.54);}
.f_dis_bcolor {color:rgba(0,0,0,0.38);}

.f-wcolor {color:white;}
.f-sec-wcolor {color:rgba(255,255,255,0.70);}
.f-dis-wcolor {color:rgba(255,255,255,0.50);}

html, body{height:100%;min-height:100%}


.s_head {position:relative; padding-top:42.85%; width:100%; height:0;}
.s_bg {background:url(images/3.jpg); background-attachment:fixed; background-repeat:no-repeat; background-size:cover; background-position:center;}
.s_bg:before {content:''; background:linear-gradient(to bottom, rgba(0,0,0,0.5), #F1F3F4); position:absolute; top:0; bottom:0; display:block; width:100%;}

.head_wrap {position:absolute; bottom:50%; width:100%; transform:translateY(50%); text-align:center;}

.s_title {font-size:2rem; font-weight:600;}
.s_search {position:absolute; top:18px; right:18px;}
.s_input {background:transparent; display:none; border:none; border-bottom:1px solid #F1F3F4; padding:8px; width:320px; font-size:1.2rem; text-align:center; color:inherit;}
.func_search .s_input {display:inline-block;}
.func_search .s_title {display:none;}

.own_info {padding:16px;}
.profile {margin-right:16px; border-radius:50%; width:64px; height:64px; vertical-align:middle;}
.blog_info {display:inline-block; vertical-align:middle; line-height:1.5;}
.blog_info .title {font-size:1.2rem; font-weight:600;}
.blog_info .owner {font-size:0.8rem;}

.s_post {padding:16px; line-height:1.5;}
.l_title {font-size:1.5rem;}
.l_post:not(:first-child) {padding:16px 0 0;}
.post_title {font-size:1.2rem;}
.post_summary {font-size:0.8rem;}
.post_info {font-size:0.8rem;}
.post_cat {color:#F57F17;}

.admin_edit, .admin_secret, .admin_delete {color:#e65100;}

h2.post_title {font-size:1.4rem;}
.post {margin-top:16px;}

.s_paging {padding:0 16px; width:100%; font-size:1.4rem;}
.p_btn {color:#F57F17; text-decoration:none;}
.no-more-prev,
.no-more-next {color:rgba(0,0,0,0.38);}

.s_footer {text-align:center;}
