@charset "utf-8";

/* Material */

/* Theme
 *
 * Primary - #2196F3
 * Secondary - #B3E5FC
 */
.bg-primary {background:#2196F3;}
.bg-secondary {background:#B3E5FC;}

/* Font
 *
 * Primary Text - #000 87% / #FFF 100%
 * Secondary Text - #000 54% / #FFF 70%
 * Disabled Text - #000 38% / #FFF 50%
 */
.ft-black {color:rgba(0,0,0,0.87);}
.ft-black-sec {color:rgba(0,0,0,0.54);}
.ft-black-dis {color:rgba(0,0,0,0.38);}

.ft-white {color:white;}
.ft-white-sec {color:rgba(255,255,255,0.7);}
.ft-white-dis {color:rgba(255,255,255,0.5);}

/* Diver - #000, #FFF 12% */
hr {border:none; border-top:1px solid rgba(255,255,255,0.12);}
hr.diver-black {border-top:1px solid black;}

/* Tag Default */
* {margin:0; padding:0; box-sizing:border-box;}
html, body, label, button, input, textarea, blockquote, pre, code {
	color:rgba(0,0,0,0.87);
	-webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
	font-family:Roboto,RobotoDraft,arial,'Noto Sans KR','Nanum Gothic',sans-serif;
}

h1, h2, h3, h4, h5, h6 {margin:0; font-weight:normal;}
h1 {margin:36px 0 12px 0; font-size:2.0em;}
h2 {margin:36px 0 12px 0; font-size:1.8em;}
h3 {margin:24px 0 12px 0; font-size:1.4em;}
h4, h5, h6 {margin:24px 0 12px 0; font-size:1em;}

a {color:rgba(0,0,0,0.87); text-decoration:none; cursor:pointer}
a.accent, em {color:#03A9F4;}

p {margin:0 0 12px 0; line-height:1.7;}

ol, ul {padding-left:32px;}
li {line-height:1.5;}

fieldset {margin:0; padding:0; border:0;}

table {border-spacing:0;}
th, td {padding:6px 12px;}
th {background:#EEE;}

blockquote, pre, code {background:#F5F5F5; margin:0 0 16px; padding:16px;}
em {font-style:none; font-weight:normal;}

/* Skin */
html, body, .wrap {margin:0; padding:0; width:100%; height:100%;}
ol, ul, li {margin:0; padding:0;}
img {border:none;}
label:focus, input:focus, button:focus, textarea:focus {outline:none;}
.material-icons {vertical-align:middle;}

/* Tistory */
#tistorytoolbarid {display:none;}

.ellipsis {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
ol.no-style, ul.no-style {list-style:none;}

/* animate */
.anim-transform {transition:transform 200ms linear;}
.anim-opacity {transition:opacity 200ms linear;}

/* Flex */
.flex {display:-webkit-flex; display:flex; -webkit-flex-flow:row; flex-flow:row;}
.flex.vertical {flex-direction:column;}
.flex-1 {-webkit-flex:1; -ms-flex:1; -moz-flex:1; flex:1;}

/* Card */
.card {position:relative; background:white; border-radius:2px; box-shadow:0 1px 2px rgba(0,0,0,0.3); overflow:hidden; box-sizing:border-box;}

.card-title {padding:24px;}
.card-title h2, .card-title h3 {margin:0; line-height:1.5;}
.card-title .info {font-size:14px; color:rgba(0,0,0,0.54);}

.tablet .card-title,
.mobile .card-title {padding:16px;}

.card-list {padding:8px 0;}
.card-list a {padding:18px 32px; line-height:20px;}
.card-list a:hover {background:#F5F5F5;}
.card-list .date {width:120px;}
.card-list .none {display:block; padding:32px; color:#F44; line-height:2.5; text-align:center;}
.card-list .none .icon {font-size:48px;}

.tablet .card-list a,
.mobile .card-list a {padding:16px;}
.tablet .card-list .flex,
.mobile .card-list .flex{flex-direction:column-reverse;}
.tablet .card-list .date,
.mobile .card-list .date {width:100%; font-size:12px; color:rgba(0,0,0,0.54);}

/* Side menu drawer */
.button {display:block; padding:6px; width:36px; height:36px; box-sizing:border-box; color:white;}
.button:hover {color:white;}

.side {background:white; height:100%; overflow-x:hidden; overflow-y:auto;}
.desktop .side, .tablet .side {width:320px;}
.mobile .side {width:100%;}
.tablet .side, .mobile .side {z-index:120; position:fixed; transform:translateX(-100%);}
.tablet .side.active, .mobile .side.active {box-shadow:0 8px 16px 0 rgba(0,0,0,0.3); transform:translateX(0);}

.side .close {position:fixed; top:0; left:0; padding:14px; width:64px; height:64px; box-sizing:border-box;}
.desktop .side .close {display:none;}

.side .profile {padding:24px; text-align:center; font-size:32px;}
.side .profile p {margin:0; line-height:1.5;}
.side .profile .link {color:white;}
.side .profile .img {border-radius:50%; width:128px; height:auto;}
.side .profile .social {display:inline-block; width:32px; height:32px; fill:white; line-height:1;}
.side .profile .social:hover {fill:rgba(255,255,255,.75);}
.side .profile .social svg {width:24px; height:24px;}

.side hr {margin:0;}
.side .item {display:block; margin:0; padding:0 16px; line-height:48px; font-size:14px;}
.side .item.selected {padding-left:12px; border-left:4px solid #03A9F4; color:#03A9F4;}
.side .item:hover {background:#F5F5F5;}
.side .item.subitem {padding:0 8px; padding-left:32px; line-height:36px; color:rgba(0,0,0,0.54); font-size:12px;}
.side .item.subitem.selected {padding-left:28px;}

.search .input, .search .button {background:none; margin:0; padding:0; border:none; line-height:48px;}
.search .input {font-size:16px; padding:0 0 0 16px;}
.search .button {width:48px; text-align:center; color:rgba(0,0,0,0.54); cursor:pointer;}

/* Wrap */
.wrap {background:#EEE;}

/* Cover */
.cover {z-index:110; background:rgba(0,0,0,0.25); position:fixed; width:100%; height:100%;}
.cover .card {
	position:fixed; top:50%; left:50%;
	box-shadow:0 12px 24px rgba(0,0,0,0.3);
	transform:translate(-50%, -50%);
}

.cover.active .card {transform:translate(-50%, -50%)}
.floating-data {display:none;}

/* Nav */
.nav {z-index:10; position:fixed; top:0; left:0; padding:14px; width:100%; height:64px; transition:box-shadow linear 200ms; box-sizing:border-box;}
.desktop .nav {transform:translateY(-100%);}
.nav .title {margin-left:14px; line-height:36px; font-size:1.4em;}

/* Content */
.content {overflow-y:scroll;}
.tablet .content, .mobile .content {margin-top:64px; height:calc(100% - 64px);}

.desktop .content .card {margin:18px auto; width:940px;}
@media screen and (max-width:1280px) {
	.desktop .content .card {width:768px;}
}
.tablet .content .card,
.mobile .content .card {margin:0; width:100%; border:none; border-bottom:1px solid rgba(0,0,0,0.12); box-shadow:none;}

#entry {position:relative;}

.admin.icon {width:64px; line-height:64px; text-align:center; cursor:pointer;}

.admin_list {margin:8px 0; width:240px;}
.admin_list .item {display:block;}
.admin_list .item:hover {background:rgba(0,0,0,0.1);}
.admin_list .item .material-icons {padding:16px; width:54px; height:54px; box-sizing:border-box; color:rgba(0,0,0,0.54);}

/* Tags */
#tag .tags {
	margin:0 0 16px;
	padding:0 24px;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	-webkit-align-items:baseline;
	align-items:baseline;
	line-height:1.75;
}
#tag .tags .item {margin-right:18px; color:rgba(0,0,0,0.87);}
#tag .tags .item:hover {color:rgba(0,0,0,0.54);}
#tag .tags .item:before {content:'#'; margin-right:3px;}
#tag .cloud1 {font-weight:bold;}

/* Comment */
.comment .write {padding:0 24px 24px;}

.comment .textarea, .comment .input {background:none; box-sizing:border-box; font-size:16px; line-height:1.5;}
.comment .write .input {margin-bottom:12px; padding:0 6px 6px; width:50%; border:none; border-bottom:1px solid #DDD;}
.comment .write .textarea {background:rgba(0,0,0,0.1); width:100%; height:150px; padding:8px 12px ;border:none; resize:none;}
.comment .write .btn {width:100%; text-align:right;}
.comment .write .btn .icon {margin:0 8px; padding:16px; width:24px; line-height:24px; color:rgba(0,0,0,0.54); cursor:pointer;}
.comment .write .btn .icon:hover {color:rgba(0,0,0,0.87);}

.tablet .comment .write,
.mobile .comment .write {padding:0 18px 18px;}
.tablet .comment .write .input,
.mobile .comment .write .input {width:100%;}

.comment .list p {margin:0; padding:0;}
.comment .list .li {position:relative; padding:18px 24px 18px 100px; min-height:55px;}
.comment .list .li.reply {background:#F5F5F5;}
.comment .list .name {margin-right:8px;}
.comment .list .name .tistoryProfileLayerTrigger {display:none;}
.comment .list .name img,
.comment .list .name .icon {
	position:absolute; top:18px; left:18px; border-radius:50%;
	width:64px; height:64px; overflow:hidden;
}
.comment .list .name .icon {color:#DDD; font-size:64px; text-align:center;}
.comment .list .name .icon:before {content:'person';}
.comment .rp_secret .name .icon:before,
.comment .guest_secret .name .icon:before {content:'person_outline';}
.comment .rp_admin .name .icon:before {content:'settings';}
.comment .list .date {font-size:12px;}
.comment .list .desc {margin:8px 0; padding:0; line-height:1.5; font-size:14px;}
.comment .list .control {font-size:14px; line-height:1.5;}
.comment .list .control a {padding-right:10px;}
.comment .list .control .icons {font-size:16px;}
.comment .list .date,
.comment .list .desc,
.comment .list .control a {color:rgba(0,0,0,0.54);}
.comment .list .control a:hover {color:rgba(0,0,0,0.87);}

/* Protected Entry */
.entry_protected .article {text-align:center;}
.entry_protected p {margin:12px 0; font-size:18px;}
.entry_protected input, .entry_protected .icon.enter {background:none; border:none; border-bottom:1px solid rgba(0,0,0,0.12); padding:12px; height:48px; vertical-align:middle; box-sizing:border-box;}
.entry_protected input {width:260px; font-size:20px}
.entry_protected .icon.enter {color:rgba(0,0,0,0.54); cursor:pointer;}
.entry_protected .icon.enter:hover {color:rgba(0,0,0,0.87);}

/* Entry */
#entry .tags {padding:0 24px;}
#entry .tags .icon {margin-right:8px; vertical-align:middle;}
#entry .tags a:before {content:'#';}
#entry h3 a {display:block;}

/* Page */
.page {position:relative; text-align:center;}
.page .btn {display:inline-block; padding:12px; width:24px; height:24px; line-height:24px;font-size:16px; vertical-align:middle;}
.page .btn.selected {font-weight:bold; color:#03A9F4;}
.page .btn:not(.selected):hover {background:#F5F5F5;}
.page .no-more-prev, .page .no-more-next {visibility:hidden;}

#visitor {padding:12px; font-size:14px; line-height:1.5; text-align:center;}
#visitor p {margin:0;}

/* Footer */
#footer {margin:18px; text-align:center; font-size:14px;;}
#footer p {margin:0; line-height:2;}

/* Article */
.article {padding:0 24px 24px; font-size:14px; line-height:1.8; word-wrap:break-word;}
.tablet .article, .mobile .article {padding:0 18px 18px;}

.article h1, .article h2 {padding-bottom:0.5em; border-bottom:1px solid rgba(0,0,0,0.12);}
.article ol, .article ul {margin:0.5em 0; padding-left:1.25em;}
.article ul {list-style:disc;}
.article ol {list-style:decimal;}
.article li ul {list-style:circle;}

.article img {max-width:100%; height:auto;}
.article blockquote {background:#F5F5F5; margin:0; padding:1em 25px;}
.article a {font-weight:bold; color:#03A9F4;}

/* Download Button */
.article .imageblock > a img[src*='.gif'] {display:none;}
.article .imageblock > a {
	background:#03A9F4; display:inline-block; border-radius:2px; padding:0 15px 0 0;
	height:50px; line-height:50px; box-shadow:0 0 4px rgba(0,0,0,0.3);
	transition:box-shadow 150ms linear; font-weight:bold; color:white;
}
.article .imageblock > a:before {
	font:normal normal normal 24px/50px 'Material Icons';
	content:'file_download'; background:rgba(0,0,0,0.2);
	display:inline-block;	margin-right:8px; width:50px; height:50px;
	text-align:center; color:white; word-wrap:normal; vertical-align:middle;
}
.article .imageblock > a:hover:not(:active) {box-shadow:0 0 8px rgba(0,0,0,0.5);}

/* Another Category Plugin */
.another_category {margin:16px 0 0; padding:0; border:none;}
.another_category h4 {margin:0 !important; padding:8px !important; font-size:16px !important; font-weight:normal;}
.another_category table {margin:0 !important; padding:8px; border-collapse:inherit;}
.another_category th,
.another_category td {padding:0 !important; font-size:14px !important; line-height:1.8;}

.video_container {margin:0; padding-bottom:75%; max-width:100%; height:0; position:relative; overflow:hidden;}
.video_container.wide {padding-bottom:56.25%;}
.video_container iframe,
.video_container embed,
.video_container object {position:absolute; top:0; left:0; width:100%; height:100%;}

/* Mobile */
@media screen and (max-width:952px) {
	h1 {font-size:1.75em;}
	h2 {font-size:1.4em;}
	h3 {font-size:1.2em;}

	#entry .tags {padding:0 18px;}
}
