@charset "utf-8";

/* Material */

/* Theme
 *
 * Primary - #2196F3
 */
.bg-p {background:#2196F3;}
.bg-p-l {background:#6EC6FF;}
.bg-p-d {background:#0069C0;}

.bg-gray {background:#EEE}

/* Font
 *
 * Primary Text - #000 87% / #FFF 100%
 * Secondary Text - #000 54% / #FFF 70%
 * Disabled Text - #000 38% / #FFF 50%
 */
a, em {color:#03A9F4;}

.ft-black {color:rgba(0,0,0,0.87);}
.ft-black-sec {color:rgba(0,0,0,0.54);}
.ft-black-dis {color:rgba(0,0,0,0.38);}

.ft-white {color:white;}
.ft-white-sec {color:rgba(255,255,255,0.7);}
.ft-white-dis {color:rgba(255,255,255,0.5);}

/* Diver - #000, #FFF 12% */
hr {border:none; border-top:1px solid rgba(0,0,0,0.12);}
hr.divider-white {border-top:rgba(255,255,255,0.12);}

/* Loading */
.loader-bg {z-index:200; position:fixed; width:100%; height:100%; top:0; left:0;}
.loader-wrap {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
.loader{border: 2rem solid #f3f3f3; border-radius: 50%; width:2rem; height:2rem; animation:spin .5s linear infinite;}
.loader-bg.done {animation:spin-done .8s linear forwards;}

@keyframes spin {
    0% {transform:scale(0); opacity:1;}
    100% {transform:scale(1); opacity:0;}
}

@keyframes spin-done {
    0% {opacity:1;}
    99% {opacity:0; transform: scale(1);}
    100% {opacity:0; transform:scale(0);}
}

/* Tag Default */
* {margin:0; padding:0; box-sizing:border-box;}
html, body, label, button, input, textarea, blockquote, pre, code {
	-webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
	font-family:Roboto,'Noto Sans','Noto Sans KR',arial,'Nanum Gothic',sans-serif;
    font-size:16pt;
}

label, button, input, textarea {color:rgba(0,0,0,0.87);}

h1, h2, h3, h4, h5, h6 {margin:0 0 16px 0; font-weight:normal;}
h1 {font-size:1.2rem;}
h2 {font-size:1.1rem;}
h3 {font-size:1rem;}
h4, h5, h6 {font-size:0.9rem;}

a {text-decoration:none; cursor:pointer}

p {margin:0 0 12px 0; line-height:1.7;}

fieldset {border:0;}

table {border-spacing:0;}
th, td {padding:6px 12px;}
th {background:#EEE;}

blockquote, pre {background:#F5F5F5; margin:0 0 16px; padding:8px 12px;}
code {background:#F5F5F5; margin:4px 6px; font-size:0.9em;}
em {font-style:normal; font-weight:normal;}

audio, video {width:100%; height:auto; min-height:32px;}

/* Skin */
html, body {width:100%; height:100%;}
img {border:none;}
label:focus, input:focus, button:focus, textarea:focus {outline:none;}
.material-icons {vertical-align:middle;}
.btn {display:block; padding:6px; width:36px; height:36px; line-height:24px; cursor:pointer;}

.left {float:left;}
.right {float:right;}
.none {display:none;}

/* Tistory */
#tistorytoolbarid, .tistoryProfileLayerTrigger {display:none;}

.ellipsis {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
ol.no-style, ul.no-style {list-style:none;}

/* animate */
.animate {transition:transform 200ms;}

/* Flex */
.flex {display:-webkit-flex; display:flex; -webkit-flex-flow:row; flex-flow:row;}
.flex.vertical {flex-direction:column;}
.flex-1 {-webkit-flex:1; -ms-flex:1; -moz-flex:1; flex:1;}
.f-wrap {-webkit-flex-wrap:wrap; flex-wrap:wrap; -webkit-align-items:baseline; align-items:baseline;}

/* New Card */
.card {position:relative; background:white; border-radius:0.2rem; width:100%; box-shadow:0 1px 2px rgba(0,0,0,0.3); overflow:hidden;}
.header ~ .card {margin-top:8px;}

.card-list {margin:8px 0; padding:8px 0; font-size:0.9rem;}
.card-list .item {padding:12px; flex-direction:column-reverse;}
.card-list .item:hover {background:#F5F5F5;}
.card-list .title {word-wrap:break-word; word-break:break-all;}
.card-list .date {display:flex; align-items:center; width:100%; font-size:0.8rem;}
.list.none {display:block; padding:28px 0; color:#F44; line-height:2.5; text-align:center;}
.list.none .icon {font-size:64px;}

.desktop .card-list .item {padding:14px 28px; flex-direction:row;}
.desktop .card-list .date {width:120px; font-size:0.9rem;}

/* Side menu drawer */
.side {z-index:120; background:white; position:fixed; top:0; bottom:0; width:320px; overflow-x:hidden; overflow-y:auto; transform:translateX(-100%);}
.side.active, .desktop .side {box-shadow:0 0 16px rgba(0,0,0,0.3); transform:translateX(0);}
.desktop .side {box-shadow:0 8px 16px 0 rgba(0,0,0,0.3);}

.side .close {position:absolute; top:0; left:0; padding:14px; width:64px; height:64px;}
.desktop .side .close {display:none;}

.side .profile {padding:24px; text-align:center; font-size:1.6rem;}
.side .profile a {display:block;}
.side .profile .img {border-radius:50%; width:128px; height:auto;}

.side .social {padding:12px; line-height:1; justify-content:space-around;}
.side .social a {max-height:24px; line-height:24px; text-decoration:none;}

.side .item {display:block; padding:12px; font-size:0.9rem; line-height:24px;}
.side .item.selected {padding-left:12px; border-left:4px solid #03A9F4; color:#03A9F4;}
.side .item:hover {background:#F5F5F5;}
.side .item.subitem {padding:8px 8px 8px 32px; font-size:0.8rem;}
.side .item.subitem.selected {padding-left:28px;}

/* Wrap */
.wrap {min-height:100%;}
.desktop .wrap {margin-left:320px;}

/* Cover */
.cover {z-index:110; background:rgba(0,0,0,0.25); position:fixed; width:100%; height:100%;}
.cover .card {position:fixed; top:50%; left:50%; box-shadow:0 12px 24px rgba(0,0,0,0.3); transform:translate(-50%, -50%);}

.card-data {display:none;}

/* Nav */
.nav {z-index:100; position:fixed; top:0; padding:14px; width:100%; height:64px; transition:box-shadow 200ms;}
.nav.shadow {box-shadow:0 0 8px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.24);}
.desktop .nav {width:calc(100% - 320px);}
.desktop .nav .menu {display:none;}
.nav .menu {margin-right:14px;}
.nav .title {line-height:36px; font-size:1.1rem;}

.search .input {border:none; background:none; outline:none; border-bottom:1px solid rgba(255,255,255,0.75); padding:8px 0; width:0; color:white; font-size:0.8rem; transition:width 200ms;}
.search .input::placeholder {color:white;}
.search.active .input {padding:8px; width:240px;}

/**********
  Content
 **********/
.content {padding:64px 0 0;}

.section {margin:1.2rem auto; width:calc(100% - 1.2rem);}
.desktop .section {margin:32px auto; width:688px;} /* article width: 640px */
.desktop.wide .section {width:968px;} /* article width: 920px */

.section .header .title {margin:0; line-height:1.5; font-size:1.1rem;}
.section .header .info {font-size:0.9rem;}

/* Content : Tags */
.tags {padding:16px; line-height:1.25; justify-content:center;}
.tags .item {background:#EEEEEE; margin:0 16px 8px 0; padding:2px 4px; border-radius:2px; font-size:0.9rem;}
.tags .item:before {content:'#'; margin-right:4px;}
.tags .cloud1 {font-weight:bold;}

/* Content : Comment, GuestBook */
.comment .textarea, .comment .input {background:none; border:transparent none 0; line-height:1.5;}

.comment .write .input {margin-bottom:12px; padding:6px; width:100%; border-bottom:#DDD solid 1px; font-size:0.8rem;}
.comment .write .textarea {background:rgba(0,0,0,0.1); width:100%; min-height:128px; padding:0.8rem 1rem; resize:none; font-size:0.8rem;}
.comment .write .btn-block {padding:0.4rem 1rem; width:100%; text-align:right;}
.comment .write .btn {margin:0 8px;}

.comment .list .item {position:relative; padding:18px 24px 18px 100px; min-height:55px; font-size:0.9rem;}
.comment .list a {color:rgba(0,0,0,0.87);}
.comment .list .name img, .comment .list .name .icon {position:absolute; top:18px; left:18px; border-radius:50%; width:64px; height:64px; overflow:hidden;}
.comment .list .name .icon {color:rgba(0,0,0,0.2); font-size:64px; text-align:center;}
.comment .list .name .icon:before {content:'person';}
.comment .rp_secret .name .icon:before, .comment .guest_secret .name .icon:before {content:'person_outline';}
.comment .rp_admin .name .icon:before {content: 'settings';}
.comment .list .date {font-size:0.8rem;}
.comment .list .desc {margin:8px 0; padding:0; line-height:1.5;}
.comment .list .ctrl {line-height:1.5; font-size:0.8rem;}
.comment .list .ctrl a {padding-right:10px; color:rgba(0,0,0,0.54);}
.comment .list .ctrl .icons {margin-right:4px; font-size:0.8rem;}

/* Content : Article */
.article {padding:18px; line-height:1.75; word-wrap:break-word; font-size:0.8rem;}
.desktop .article {padding:24px;}

.tag {padding:0 18px 18px; font-size:0.8rem;}
.desktop .tag {padding:0 24px 24px;}
.tag a {background:#EEEEEE; padding:2px 4px; border-radius:2px; color:rgba(0,0,0,0.87);}
.tag a:not(:first-child) {margin-left:0.4rem;}

/* Content : Article Lock */
.entry_lock {text-align:center;}
.entry_lock .pswd, .entry_lock .btn {background:none; border:none; border-bottom:rgba(0,0,0,0.12) solid 1px; height:36px; vertical-align:middle;}
.entry_lock .pswd {padding:8px; width:260px; font-size:14pt;}

/* Content : Article Admin */
.admin {padding:14px;}
.cover .card {width:240px;}
.cover .list {margin:8px 0;}
.cover .item {padding:12px; line-height:24px;}
.cover .item:hover {background:rgba(0,0,0,0.1);}
.cover .item .title {margin-left:12px; line-height:24px;}

/* Content : Page Navigator */
.page {text-align:center;}
.page .btn {display:inline-block;}
.page .btn.num {width:auto;}
.page .btn.selected {font-weight:bold; color:#03A9F4;}
.page .no-more-prev, .page .no-more-next {visibility:hidden;}

/* Content : Footer */
.footer {line-height:1.5; text-align:center; font-size:0.8rem;}
.footer .cpright {margin:1.2rem 0;}
.visitor {padding:16px;}

/* Content : Article Default Tag */
.article h1, .article h2 {border-bottom:1px solid rgba(0,0,0,0.12);}
.article ol, .article ul {margin:0.5em 0; padding-left:1.5em;}
.article ul {list-style:disc;}
.article ol {list-style:decimal;}
.article li ul {list-style:circle;}

.article img {max-width:100%; height:auto;}
.article a {font-weight:bold; color:#03A9F4;}

/* Content : Article Download Button */
.article .imageblock > a img[src*='.gif'] {display:none;}
.article .imageblock > a {
	background:#03A9F4; display:inline-block; border-radius:2px; padding:0 15px 0 0;
	height:50px; line-height:50px; box-shadow:0 0 4px rgba(0,0,0,0.3);
	transition:box-shadow 150ms; font-weight:bold; color:white;
}
.article .imageblock > a:before {
	font:normal normal normal 24px/50px 'Material Icons';
	content:'file_download'; background:rgba(0,0,0,0.2);
	display:inline-block;	margin-right:8px; width:50px; height:50px;
	text-align:center; color:white; word-wrap:normal; vertical-align:middle;
}
.article .imageblock > a:hover:not(:active) {box-shadow:0 0 8px rgba(0,0,0,0.5);}

/* Another Category Plugin */
.another_category {margin:16px 0 0; padding:0; border:none;}
.another_category h4 {margin:0 !important; padding:8px !important; font-size:0.9rem !important; font-weight:normal;}
.another_category table {margin:0 !important; padding:8px; border-collapse:inherit;}
.another_category th,
.another_category td {padding:0 !important; font-size:0.8rem !important; line-height:1.8;}

/* Video Container */
.video_container {padding-bottom:75%; max-width:100%; height:0; position:relative; overflow:hidden;}
.video_container.wide {padding-bottom:56.25%;}
.video_container iframe,
.video_container embed,
.video_container object {position:absolute; top:0; left:0; width:100%; height:100%;}
