/* for mobile */
.card {margin:8px 0;}
.card-content {padding:18px;}
.card-list a {padding:16px 18px;}
.card-list .flex {flex-direction:column-reverse;}
.card-list .date {flex:1; line-height:16px; font-size:12px;}
.card-list .title {flex:2; line-height:24px;}
.card-list .none {padding:18px;}

#container {width:calc(100% - 12px); margin:0 6px;}

.comment .write .input {width:100%;}