/*
 * Primary - Blue #2196F3
 * Dark Primary - #1976D2
 * Light Primary - #BBDEFB
 * Text - #FFF
 * Accent - #03A9F4
 * Primary Text - #212121
 * Secondary Text - #727272
 * Divider - #DADADA
 */

body, button, input, textarea {
	 color:#212121; /*Primary Text*/
}
a {color:#212121;}

.card-content:not(:last-child),
.card-border:not(:last-child) {border-bottom:1px solid #DADADA;}

.card .title .info {
	 color:#727272;
}

#header,
#nav:not(.transparent) {background:#2196F3;}

#side hr {border:none; border-bottom:1px solid #DADADA;}

.comment .write .btn .fa {color:#727272;}
.comment .write .btn .fa:hover {color:#212121;}
#secret:checked + .fa:before {color:#03A9F4;}

.comment .list .date,
.comment .list .desc,
.comment .list .control a {color:#727272;}
.comment .list .control a:hover {color:#212121;}

#page .btn.selected {color:#03A9F4;}

#footer {color:#727272;}

#side module h3 {border-bottom:1px solid #DADADA;}
#sidebar .name_card a {color:#727272;}
#sidebar .list span {color:#727272;}
#sidebar .calendar td:not(:first-child) a {color:#03A9F4;}

#bot-btn .fa {background:#03A9F4;}

article a {color:#03A9F4;}
article .imageblock > a {background:#03A9F4;}