/*
 * Primary - orange #FF9800
 * Dark Primary - #F57C00
 * Light Primary - #FFE0B2
 * Text - #FFF
 * Accent - #FF5722
 * Primary Text - #212121
 * Secondary Text - #727272
 */

body, button, input, textarea {color:#212121;}
a {color:#212121;}

em, .accent {color:#FF5722;}

.card .title .info {color:#727272;}
@media (max-width:768px) {
	.card-list .date {color:#727272;}
}

#header, #nav {background:#FF9800;}
#side a:hover {color:#FF5722;}

.comment .write .btn .fa {color:#727272;}
.comment .write .btn .fa:hover {color:#212121;}
#secret:checked + .fa:before {color:#FF5722;}

.comment .list .date,
.comment .list .desc,
.comment .list .control a {color:#727272;}
.comment .list .control a:hover {color:#212121;}

#page .btn.selected {color:#FF5722;}

#footer {color:#727272;}

#bot-btn .fa {background:#FF5722;}

article a {color:#FF5722;}
article .imageblock > a {background:#FF5722; color:#FFF;}