/*
 * Primary - purple #9C27B0
 * Dark Primary - #7B1FA2
 * Light Primary - #E1BEE7
 * Text - #FFF
 * Accent - #673AB7
 * Primary Text - #212121
 * Secondary Text - #727272
 */

body, button, input, textarea {color:#212121;}
a {color:#212121;}

em, .accent {color:#673AB7;}

.card .title .info {color:#727272;}
@media (max-width:768px) {
	.card-list .date {color:#727272;}
}

#header, #nav {background:#9C27B0;}
#side a:hover {color:#673AB7;}

.comment .write .btn .icon {color:#727272;}
.comment .write .btn .icon:hover {color:#212121;}
#secret:checked + .icon.secret:before {color:#673AB7;}

.comment .list .date,
.comment .list .desc,
.comment .list .control a {color:#727272;}
.comment .list .control a:hover {color:#212121;}

#page .btn.selected {color:#673AB7;}

#footer {color:#727272;}

#bot-btn .icon {background:#673AB7;}

article a {color:#673AB7;}
article .imageblock > a {background:#673AB7; color:#FFF;}