/*
 * Primary - Gray #9E9E9E
 * Dark Primary - #616161
 * Light Primary - #F5F5F5
 * Text - #FFF
 * Accent - #607D8B
 * Primary Text - #212121
 * Secondary Text - #727272
 */

body, button, input, textarea {color:#212121;}
a {color:#212121;}

em, .accent {color:#607D8B;}

.card .title .info {color:#727272;}
@media (max-width:768px) {
	.card-list .date {color:#727272;}
}

#header, #nav {background:#9E9E9E;}
#side a:hover {color:#607D8B;}

.comment .write .btn .icon {color:#727272;}
.comment .write .btn .icon:hover {color:#212121;}
#secret:checked + .icon.secret:before {color:#607D8B;}

.comment .list .date,
.comment .list .desc,
.comment .list .control a {color:#727272;}
.comment .list .control a:hover {color:#212121;}

#page .btn.selected {color:#607D8B;}

#footer {color:#727272;}

#bot-btn .icon {background:#607D8B;}

article a {color:#607D8B;}
article .imageblock > a {background:#607D8B; color:#FFF;}